body {
    font-family: "Raleway", sans-serif !important
}

/* tela-inicial */
@keyframes radialAnimation {
    to {
      background-position:80% 0%;
    }
   }

#tela-inicial {
    height: 100%;
    background: radial-gradient(circle farthest-corner at 70% 10%, #0c0f16 23%, #003c5f 50%) top right/200% 200%;
    color: white;
    padding: 30px 25px 0px;
    animation: radialAnimation 7s ease-in-out infinite alternate;
}

#tela-inicial h1 {
    font-weight: 700; 
    font-size: 2.7em;
    margin-bottom: 0.5em; 
    max-width: 20em;
}

#tela-inicial p {
    font-weight: 400; 
    font-size: 0.9em;
    /* max-width: 450px; */
    max-width: 30em; 
    letter-spacing: 0.07em;
    margin-bottom: 1em;
}

#tela-inicial .btn:not([type="button"]) {
    border-radius: 18px;
    background-image: linear-gradient(to right, rgb(30, 113, 227), rgb(56, 151, 241));
    text-decoration: none;
    padding: 4px 13px;
    font-size: 13px;
    color: white;
    font-weight: 400;
}

/* RWD */
@media only screen and (max-width: 992px) {
    #images-inicio {
        display: none;
    }
    #tela-inicial {
        height: 720px;
    }
    #button-suporte {
        display:none;
    }
}

.img-relatorio {
    z-index: 1;
    max-width: 40%;
}

#imgRelatorioVendas {
    left: 0;
    transition: transform 0.7s ease-out;
}

#imgRelatorioVisitas {
    right: 0;
    transition: transform 0.7s ease-out;
}

#contTelaInicio {
    max-height: 250px; 
    overflow: hidden; 
    perspective: 1000px;
}

#imgTelaInicio {
    transform: rotateX(10deg) translateX(25px);
    transition: transform 0.7s ease-out;
    width: 80%;
    display: block;
    margin: auto;
}
/* fim tela inicial */

/* tela recursos */
#tela-recursos {
    padding: 50px 25px;
    height: 100%;
    color: #1A1A1A;
}

#tela-recursos .btn {
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(30, 113, 227), rgb(56, 151, 241));
    text-decoration: none;
    padding: 7px 25px;
    font-size: 16px;
    color: white;
    font-weight: 450;
}

/* elementos da timeline-nav */
.node {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    transition: all 1000ms ease;
}

.divider {
    height: 40px;
    width: 2px;
    margin-left: 3px;
    transition: all 800ms ease;
    display: inline-block;
}

li .nav-link {
    display:inline;
    color: #b1b1b1;
    font-size: 0.9em;
    font-weight: 700;
    text-wrap: nowrap;
}

li .nav-link:hover {
    color: black;
    border: none;
    margin-left: 2px;
}

li .nav-link.active {
    color: black;
    border: none;
    margin-left: 2px;
}

#timeline-nav li {
    list-style: none;
    line-height: 1px;
}

.nav.nav-tabs{
    border: 0;
}

.ativo { background-color: black; }

.inativo { background-color: #b1b1b1; }
/* fim elementos navbar */

/* elementos tabs */
.tab-pane {
    align-items: center;
    flex-wrap: wrap; 
    top:0; 
    left:0;
}

.tab-pane h2 {
    font-weight: 700; 
    font-size:34px; 
    margin-bottom: 30px; 
}

.tab-pane p {
    margin-bottom: 35px; 
    font-weight: 502; 
    font-size: 15px; 
    word-spacing: 2px;
}

/* fim elementos tabs */

@media only screen and (max-width: 992px){
    #div-nav {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        height: 15em;
    }
    #timeline-nav {
        display: flex;
        flex-direction: row;
        transform: rotate(-90deg);
        transform-origin: lef-center;
    }   
    #timeline-nav .nav-item .nav-link {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        transform: rotate(90deg);
        transform-origin: top-left;
        max-width: 80px;
        text-wrap: wrap;
        padding: 0;
        margin-left: -80px;
    }
    #timeline-nav .divider {
        height: 18vw;
        margin-bottom: -5px;
    }
    #timeline-nav .container-link-node {
        display: flex;
        align-items: center;
        max-height: 8px;
    }
    #timeline-nav li {
        line-height: 20px;
    }
    .tab-pane {
        padding: 0 2em;
    }
   .tab-text {
        order: 2;
   }
   .tab-image {
        order: 1;
   }
   .tab-text h2 {
        font-size: 1.8em;
   }
}

/* infinite carousel */
@keyframes slide-logos {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100.3%);
    }
}

.logos {
    overflow: hidden;
    padding: 150px 0 50px; 
    white-space: nowrap;
}

.logos-slide {
    animation: slide-logos 10s linear infinite;
    display: inline-block;
}

.logos-slide img{
    width: 150px;
    margin-right: 100px;
    filter: grayscale(100%);
}
/* fim infinite carousel */
/* fim tela recursos */

/* tela integração */
#tela-integracao {
    background-color: #e9e9e9;
    padding: 100px 50px;
    height: 100%;
}

#tela-integracao h2 {
    font-weight: 700; 
    font-size: 40px; 
    color: black; 
    max-width: 700px; 
    text-align: center;
}

.integracoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(197, 197, 197);
}

.integracoes p {
    font-size: 15px;
    font-weight: 600;
}

.integracoes img {
    margin-bottom: 20px;
    width: 60%;
}

@media only screen and (max-width: 992px) {
    .integracoes {
        height: 300px;
    }
    #tela-integracao h2 {
        font-size: 30px; 
    }
}

@media only screen and (max-width: 768px) {
    .integracoes img {
        width: 70%;
    }
    #tela-integracao h2 {
        /* font-size: 25px;  */
    }
}

@media only screen and (max-width: 768px) {
    .integracoes img {
        width: 85%;
    }
}

/* .colunas-int-1 {
    background-color: #1E71E3;
}
.colunas-int-2 {
    background-color: #003c5f;
}
.colunas-int-3 {
    background-color: aquamarine;
}
.colunas-int-4 {
    background-color: red;
}
.colunas-int-5 {
    background-color: yellow;
} */
/* fim tela integração */

/* tela webvitals */
#tela-webvitals {
    color: white;
    padding: 30px 25px 70px;
    height: auto;
    background-image: linear-gradient(to bottom, #0c0b17, #0c0e1c, #09254a)
}

.info-infra {
    padding: 50px 100px;
    border-radius: 15px;
    border: 1px solid #30313c;
}

.info-infra h3 {
    font-weight: bold;
}

.info-infra p {
    font-weight: 300;
    font-size: 13px;
    margin: 0;
}

.webvitals {
    margin: 70px 70px 0;
}

.webvitals h4 {
    font-size: 15px;
    margin-bottom: 15px;
}

.webvitals p {
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
}

/* infinite carousel */
@keyframes slide {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes slide-reverse {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

.telas {
    overflow: hidden;
    padding: 30px 0 0; 
    white-space: nowrap;
}

.telas-slide {
    animation: slide 20s linear infinite;
    display: inline-block;
}

.telas-slide-reverse {
    animation: slide-reverse 20s linear infinite;
    display: inline-block;
}

.telas-slide img{
    width: 500px;
    margin-right: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.telas-slide-reverse img{
    width: 500px;
    margin-right: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.telas-slide img:hover {
    transition: filter 0.5s;
    filter: grayscale(0);
}

.telas-slide-reverse img:hover {
    transition: filter 0.5s;
    filter: grayscale(0);
}
/* fim infinite carousel */
/* fim tela webvitals */

/* tela visibilidade */
#tela-visibilidade {
    padding: 100px 25px 60px;
    height: auto;  
    transition: background-color 0.5s, color 0.5s;
}

#tela-visibilidade h2 {
    font-size: 40px;
    font-weight: bold;
}

.tema-claro {
    background-color: #EEEEEE;
    color: black;
}

.tema-escuro {
    background-color: #212121;
    color: white;
}

.tema-claro.btn {
    border-radius: 5px;
    border-width: 1px;
    font-size: 13px;
    padding: 2px 5px;
    margin: 10px;
    border-color: transparent;
    font-weight: 500;
    color: #464646;
}

.tema-claro.btn:hover:not(.active) {
    background-color: white;
}

.tema-claro.btn.active {
    border-color: #464646;
}

.tema-escuro.btn {
    border-radius: 5px;
    border-width: 1px;
    font-size: 13px;
    padding: 2px 5px;
    margin: 10px;
    border-color: transparent;
    font-weight: 500;
    color: white;
}

.tema-escuro.btn:hover:not(.active) {
    background-color: #363636;
}

.tema-escuro.btn.active {
    border-color: white;
}

.fadeIn-transition {
    transition: opacity 0.2s linear;
    opacity: 1;
}

.fadeIn-hide {
    opacity: 0;
}
/* fim tela visibilidade */

/* tela acesso rapido */
#tela-acesso-rapido {
    padding: 100px 25px 80px;
    height: auto;  
    color: black;
}

#tela-acesso-rapido h4 {
    font-size: 30px;
    font-weight: bold;
}

.links-help.btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 10px; 
    border: 1px solid #cbcbcb; 
    border-radius: 5px;
    width: 250px;
    margin: 5px 10px 5px 0;
    text-align: start;
}

.links-help.btn:hover {
    border-color: #1e71e3
}

.icones-links {
    display: block;
    margin-bottom: 2px;
}

.topic-relev {
    border-style: solid;
    border-color: #cbcbcb; 
    border-width: 0 0 0 1px;
    padding-left: 60px;
    width: 300px;
}

.link-topicos-relev {
    display: block;
    color: black;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}

.footer {
    background-image: linear-gradient(to top, #0B1017, #08244A); 
    height: 100%;
    border-radius: 30px 30px 0 0;
    padding: 80px 100px 20px;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.button-footer {
    background-image: linear-gradient(to right, #1E71E3, #3897F1);
    border-radius: 25px;
    padding: 10px 20px;
}

.links-footer {
    font-size: 13px;
    font-weight: 300;
    display: block;
    margin: 10px 10px 10px 0;
}